
p{
    /**/
    /* comment */
    color: blue;
    font-size: 50px;
}

.segundo{
    color:red;
    font-size: 60px;
}

#terceiro{
    color: seagreen;
    font-size: 40px;
}
.p1{
    background-color: black;
    margin: 50px;
}
.p1 p{
    color: green;
    background-color: black;
}

.p2 p{
    color: rgb(255, 0, 255);
    background-color: black;
}

.proxo{
    color: chocolate;
}